@import '../../variables.scss';

.Input {
  background: $background;
  background: linear-gradient(180deg, $background 50%, $background-purple 50%);
  padding: 40px 80px;
}

.inputContainer {
  width: 70%;
  height: 100px;
  background-image: url('../../assets/img/bg-shorten-desktop.svg');
  background-color: $violet;
  border-radius: 5px;
  margin: 0 auto;
  input {
    height: 50px;
    width: 70%;
    padding: 0 30px;
    margin: 25px 0px 25px 40px;
    border-radius: 5px;
  }
  ::placeholder {
    color: $grayish-violet;
  }
  button {
    height: 50px;
    margin: 25px 40px 25px 20px;
    min-width: 80px;
    border-radius: 5px;
    padding: 10px 30px;
  }
}
