@import '../../variables.scss';

.Hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 120px;
  p {
    color: $grayish-violet;
    line-height: 1.5;
    padding-bottom: 10px;
  }
  button {
    padding: 10px 30px;
    border-radius: 20px;
    margin-left: 0;
  }
  div:nth-of-type(2) {
    text-align: right;
  }
  img {
    width: 99%;
  }
}
