@import '../../variables.scss';

.Hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 120px;
  h1 {
    font-size: 3rem;
    font-weight: $bold;
    line-height: 1.2;
  }
  p {
    color: $grayish-violet;
  }
  button {
    padding: 10px 30px;
    border-radius: 20px;
  }
}
