@import '../../../variables.scss';

.feature {
  width: 60%;
  position: relative;
}

.feature:nth-of-type(2) {
  margin-top: 80px;
}

.feature:nth-of-type(3) {
  margin-top: 160px;
}

p {
  color: $grayish-violet;
}

.img {
  background: $background-purple;
  background: linear-gradient(180deg, $background-purple 50%, $background 50%);
  width: 90%;
  padding: 10px 30px 0;
  margin: 0 30px 0;
  div {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: $violet;
    position: relative;
    img {
      position: absolute;
      top: 15px;
      left: 15px;
    }
  }
}

.box {
  display: block;
  background: $background;
  width: 90%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 30px;
  margin: 0 30px 40px;
}

.feature:not(:last-child) .box:before {
  content: '';
  height: 10px;
  width: 40px;
  background-color: $cyan;
  display: inline-block;
  position: absolute;
  bottom: 200px;
  right: -30px;
}
