@import '../../../variables.scss';

.container {
  background-color: $background;
  width: 100%;
  border-radius: 5px;
  margin: 0px auto 20px;
  padding: 0px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  @media(max-width: 1000px) {
    flex-direction: column;
  }
  @media(max-width: 800px) {
    padding: 0 20px;
  }
  @media(max-width: 600px) {
    padding:0 10px;
  }
  input {
    color: $cyan;
    height: 50px;
    text-align: right;
    @media(max-width: 1100px) {
      text-align: left;
      padding-left: 20px;
      height: 20px;
      margin-top: 20px;
    }
    @media(max-width: 800px) {
      padding-left: 0px;
    }
  }
  div:first-of-type {
    @media(max-width: 1100px) {
      font-size: 0.8rem;
    }
    @media(max-width: 1000px) {
      padding-top: 20px;
      align-self: flex-start;
      padding-left: 20px;
      white-space: nowrap;
    }
    @media(max-width: 800px) {
      padding-left: 0px;
    }
  }
  div:first-of-type:after {
    @media(max-width: 1000px) {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.5px;
    background: $grayish-violet;
    top: 32%;
    left: 0;
    }
  }
  div:nth-of-type(2) {
    white-space: nowrap;
    @media(max-width: 1100px) {
      font-size: 0.8rem;
    }
    @media(max-width: 1000px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }
  }
  button {
    @media(max-width: 1100px) {
      font-size: 0.8rem;
      padding: 0 20px;
    }
    @media(max-width: 1000px) {
      width: 100%;
      margin-right: 40px;
      margin-top: 10px;
    }
    @media(max-width: 800px) {
      margin-left: 0px;
    }
  }
}

div {
  align-self: center;
}



button {
  height: 40px;
  margin: 25px 0px 25px 20px;
  min-width: 60px;
  border-radius: 5px;
  padding: 0px 30px;
}

.copied {
  background-color: $dark-violet;
}
