@import '../../variables.scss';

header {
  background-color: $background;
  color: $font-color;
  padding: 40px 120px;
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $grayish-violet;
    button {
      padding: 10px 20px;
      border-radius: 20px;
    }
  }
}
