@import '../../variables.scss';

.features {
  background-color: $background-purple;
  padding: 40px 120px;
  p {
    color: $grayish-violet;
  }
  .details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
