@import '../../variables.scss';

.features {
  background-color: $background-purple;
  padding: 40px 120px;
  @media (max-width: 1024px) {
    padding: 20px 40px;
  }
  h2 {
    text-align: center;
  }
  h2 + p {
    color: $grayish-violet;
    margin: 0 auto;
    width: 60%;
    text-align: center;
    line-height: 2;
    @media (max-width: 1024px) {
      line-height: normal;
    }
    @media (max-width: 700px) {
      width: 80%;
    }
  }
  .details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: -40px;
    @media (max-width: 900px) {
      flex-direction: column;
      top: 20px;
    }
  }
}
