@import '../../variables.scss';

footer {
  background-color: $dark-violet;
  color: $font-color-secondary;
  font-weight: 300;
  padding: 40px 120px 60px;
  @media (max-width: 1024px) {
    padding: 40px;
  }
}

.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 40px;
  flex-wrap: wrap;
  @media (max-width: 650px) {
    flex-direction: column;
    align-content: center;
  }
  div {
    align-self: flex-start;
    @media (max-width: 900px) {
      flex-basis: 200px;
    }
    @media (max-width: 650px) {
      flex-basis: auto;
    }
    a svg {
      height: 1.5em;
      width: 1.5em;
      @media (max-width: 900px) {
        margin-top: 20px;
      }
    }
    li {
      color: $grayish-violet;
    }
    li:hover {
      color: $cyan;
      cursor: pointer;
    }
    div a:hover {
      color: $cyan;
    }
  }
  a + a {
    margin-left: 10px;
  }
}

svg:hover {
  fill: $cyan;
}

.attribution {
  font-size: 0.6rem;
  text-align: center;
  a {
    color: lighten($cyan, 30%);
  }
}
