@import '../../variables.scss';

.boost {
  background-color: $violet;
  background-image: url('../../assets/img/bg-boost-desktop.svg');
  padding: 40px 120px;
  color: $font-color-secondary;
  text-align: center;
  @media (max-width: 700px) {
    padding: 40px 40px;
  }
  button {
    padding: 10px 30px;
    border-radius: 20px;
    margin-bottom: 5px;
    margin-left: 0;
    @media (max-width: 700px) {
      font-size: 0.8rem;
    }
  }
}
